@using Daissect.Shared

<div class="simple-list">
    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">https://</span>
            </div>
            <input id="newItem" class="form-control" bind="@newItem" placeholder="github.com/AndersMars/Daissect.git" required />
            <div class="input-group-append">
                <button onclick="@AddItem" class="btn btn-secondary">Add</button>
            </div>
            <div class="invalid-feedback" style="width: 100%;">
                Enter a valid address for a repository.
            </div>
        </div>
    </div>
    @if (!listItems.Any())
    {
        <p>You have no items in your list</p>
    }
    else
    {
        <ul class="list-group mb-3">
            @foreach (var item in listItems)
            {
                <li class="list-group-item d-flex lh-condensed">
                    <div>
                        <p style="margin-bottom: 0px"><div class="foo @item.Color"></div> <a href="#">@item.Address</a></p>
                        <small class="text-muted">@item.Description</small>
                    </div>
                    @*<span class="text-muted">$12</span>*@
                </li>
            }
        </ul>
    }
</div>

@functions {
    [Parameter]
    private List<Repository> listItems { get; set; }

    private string newItem;

    private void AddItem()
    {
        if (string.IsNullOrEmpty(newItem))
            return;

        listItems.Add(new Repository() { Address = newItem, Color = "black" }  );
        newItem = "";
    }
}